--
-- PostgreSQL database dump
--

\restrict FDi05QoekJQTgQsUe6yX56OM4RVpg1Mghd1nERGcTrheQbYGX2ncBZq1WKK2hEr

-- Dumped from database version 18.4 (Debian 18.4-1.pgdg12+1)
-- Dumped by pg_dump version 18.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: industrial_nexus_user
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO industrial_nexus_user;

--
-- Name: AuditAction; Type: TYPE; Schema: public; Owner: industrial_nexus_user
--

CREATE TYPE public."AuditAction" AS ENUM (
    'LOGIN',
    'LOGOUT',
    'CREATE',
    'UPDATE',
    'DELETE',
    'ROLE_CHANGE',
    'STATUS_CHANGE',
    'PASSWORD_RESET_REQUEST',
    'PASSWORD_RESET'
);


ALTER TYPE public."AuditAction" OWNER TO industrial_nexus_user;

--
-- Name: DispatchErrorType; Type: TYPE; Schema: public; Owner: industrial_nexus_user
--

CREATE TYPE public."DispatchErrorType" AS ENUM (
    'WRONG_DRIVER_ASSIGNED',
    'VEHICLE_MISMATCH',
    'LATE_ASSIGNMENT',
    'ADDRESS_ERROR',
    'DUPLICATE_DISPATCH',
    'OTHER'
);


ALTER TYPE public."DispatchErrorType" OWNER TO industrial_nexus_user;

--
-- Name: DriverAvailability; Type: TYPE; Schema: public; Owner: industrial_nexus_user
--

CREATE TYPE public."DriverAvailability" AS ENUM (
    'AVAILABLE',
    'ON_TRIP',
    'OFF_DUTY'
);


ALTER TYPE public."DriverAvailability" OWNER TO industrial_nexus_user;

--
-- Name: DriverStatus; Type: TYPE; Schema: public; Owner: industrial_nexus_user
--

CREATE TYPE public."DriverStatus" AS ENUM (
    'ACTIVE',
    'INACTIVE',
    'SUSPENDED'
);


ALTER TYPE public."DriverStatus" OWNER TO industrial_nexus_user;

--
-- Name: GeofenceEventType; Type: TYPE; Schema: public; Owner: industrial_nexus_user
--

CREATE TYPE public."GeofenceEventType" AS ENUM (
    'RADIUS_A_ENTERED',
    'RADIUS_B_ENTERED',
    'RADIUS_C_ENTERED',
    'RADIUS_D_ENTERED',
    'POLYGON_ENTERED',
    'POLYGON_EXITED',
    'ARRIVAL_CONFIRMED'
);


ALTER TYPE public."GeofenceEventType" OWNER TO industrial_nexus_user;

--
-- Name: GeofenceType; Type: TYPE; Schema: public; Owner: industrial_nexus_user
--

CREATE TYPE public."GeofenceType" AS ENUM (
    'RADIUS',
    'POLYGON'
);


ALTER TYPE public."GeofenceType" OWNER TO industrial_nexus_user;

--
-- Name: HandlingTagType; Type: TYPE; Schema: public; Owner: industrial_nexus_user
--

CREATE TYPE public."HandlingTagType" AS ENUM (
    'FRAGILE',
    'HEAVY',
    'CHEMICAL',
    'HAZARDOUS',
    'VERTICAL_STORAGE_REQUIRED',
    'TEMPERATURE_SENSITIVE'
);


ALTER TYPE public."HandlingTagType" OWNER TO industrial_nexus_user;

--
-- Name: InvoiceStatus; Type: TYPE; Schema: public; Owner: industrial_nexus_user
--

CREATE TYPE public."InvoiceStatus" AS ENUM (
    'DRAFT',
    'ISSUED',
    'PAID',
    'VOID'
);


ALTER TYPE public."InvoiceStatus" OWNER TO industrial_nexus_user;

--
-- Name: KittingStage; Type: TYPE; Schema: public; Owner: industrial_nexus_user
--

CREATE TYPE public."KittingStage" AS ENUM (
    'AGGREGATION',
    'TECHNICAL_PACKAGING',
    'QUALITY_CHECK',
    'DISPATCH_READY',
    'PACKAGE_TRACKER_ASSIGNMENT'
);


ALTER TYPE public."KittingStage" OWNER TO industrial_nexus_user;

--
-- Name: KittingStatus; Type: TYPE; Schema: public; Owner: industrial_nexus_user
--

CREATE TYPE public."KittingStatus" AS ENUM (
    'PENDING',
    'AGGREGATION',
    'TECHNICAL_PACKAGING',
    'QUALITY_CHECK',
    'DISPATCH_READY',
    'COMPLETED',
    'PACKAGE_TRACKER_ASSIGNMENT'
);


ALTER TYPE public."KittingStatus" OWNER TO industrial_nexus_user;

--
-- Name: KycDocumentStatus; Type: TYPE; Schema: public; Owner: industrial_nexus_user
--

CREATE TYPE public."KycDocumentStatus" AS ENUM (
    'PENDING',
    'UNDER_REVIEW',
    'VERIFIED',
    'REJECTED',
    'EXPIRED'
);


ALTER TYPE public."KycDocumentStatus" OWNER TO industrial_nexus_user;

--
-- Name: KycDocumentType; Type: TYPE; Schema: public; Owner: industrial_nexus_user
--

CREATE TYPE public."KycDocumentType" AS ENUM (
    'GOVERNMENT_ID',
    'DRIVERS_LICENSE',
    'PROOF_OF_ADDRESS',
    'VEHICLE_REGISTRATION',
    'INSURANCE_CERTIFICATE',
    'PROFESSIONAL_CERTIFICATION'
);


ALTER TYPE public."KycDocumentType" OWNER TO industrial_nexus_user;

--
-- Name: KycStatus; Type: TYPE; Schema: public; Owner: industrial_nexus_user
--

CREATE TYPE public."KycStatus" AS ENUM (
    'PENDING',
    'VERIFIED',
    'REJECTED'
);


ALTER TYPE public."KycStatus" OWNER TO industrial_nexus_user;

--
-- Name: NotificationType; Type: TYPE; Schema: public; Owner: industrial_nexus_user
--

CREATE TYPE public."NotificationType" AS ENUM (
    'TRIP_ASSIGNED',
    'TRIP_STARTED',
    'TRIP_COMPLETED',
    'TRIP_CANCELLED',
    'ORDER_SUBMITTED',
    'ORDER_APPROVED',
    'ORDER_REJECTED',
    'ORDER_DELIVERED',
    'ORDER_STATUS_CHANGED',
    'GEOFENCE_EVENT',
    'SYSTEM',
    'LATE_RISK',
    'STATIONARY_ALERT',
    'INVOICE_GENERATED',
    'INVOICE_PAID'
);


ALTER TYPE public."NotificationType" OWNER TO industrial_nexus_user;

--
-- Name: OrderStatus; Type: TYPE; Schema: public; Owner: industrial_nexus_user
--

CREATE TYPE public."OrderStatus" AS ENUM (
    'DRAFT',
    'SUBMITTED',
    'APPROVED',
    'KITTING',
    'DISPATCH_READY',
    'ASSIGNED',
    'IN_TRANSIT',
    'DELIVERED',
    'CANCELLED',
    'REJECTED'
);


ALTER TYPE public."OrderStatus" OWNER TO industrial_nexus_user;

--
-- Name: PackageTrackerStatus; Type: TYPE; Schema: public; Owner: industrial_nexus_user
--

CREATE TYPE public."PackageTrackerStatus" AS ENUM (
    'ACTIVE',
    'INACTIVE',
    'LOST',
    'BROKEN'
);


ALTER TYPE public."PackageTrackerStatus" OWNER TO industrial_nexus_user;

--
-- Name: Priority; Type: TYPE; Schema: public; Owner: industrial_nexus_user
--

CREATE TYPE public."Priority" AS ENUM (
    'LOW',
    'NORMAL',
    'HIGH',
    'URGENT'
);


ALTER TYPE public."Priority" OWNER TO industrial_nexus_user;

--
-- Name: TripStatus; Type: TYPE; Schema: public; Owner: industrial_nexus_user
--

CREATE TYPE public."TripStatus" AS ENUM (
    'ASSIGNED',
    'SOP_CHECKLIST_PENDING',
    'SOP_COMPLETED',
    'IN_TRANSIT',
    'ARRIVED',
    'DELIVERED',
    'CANCELLED'
);


ALTER TYPE public."TripStatus" OWNER TO industrial_nexus_user;

--
-- Name: UserRole; Type: TYPE; Schema: public; Owner: industrial_nexus_user
--

CREATE TYPE public."UserRole" AS ENUM (
    'SUPER_ADMIN',
    'OPERATIONS',
    'CLIENT',
    'DRIVER'
);


ALTER TYPE public."UserRole" OWNER TO industrial_nexus_user;

--
-- Name: UserStatus; Type: TYPE; Schema: public; Owner: industrial_nexus_user
--

CREATE TYPE public."UserStatus" AS ENUM (
    'ACTIVE',
    'INACTIVE',
    'SUSPENDED'
);


ALTER TYPE public."UserStatus" OWNER TO industrial_nexus_user;

--
-- Name: VehicleCategory; Type: TYPE; Schema: public; Owner: industrial_nexus_user
--

CREATE TYPE public."VehicleCategory" AS ENUM (
    'LIGHT',
    'MEDIUM',
    'HEAVY',
    'SPECIALIZED'
);


ALTER TYPE public."VehicleCategory" OWNER TO industrial_nexus_user;

--
-- Name: VehicleDocumentStatus; Type: TYPE; Schema: public; Owner: industrial_nexus_user
--

CREATE TYPE public."VehicleDocumentStatus" AS ENUM (
    'PENDING',
    'UNDER_REVIEW',
    'VERIFIED',
    'REJECTED',
    'EXPIRED'
);


ALTER TYPE public."VehicleDocumentStatus" OWNER TO industrial_nexus_user;

--
-- Name: VehicleDocumentType; Type: TYPE; Schema: public; Owner: industrial_nexus_user
--

CREATE TYPE public."VehicleDocumentType" AS ENUM (
    'VEHICLE_REGISTRATION',
    'ROAD_WORTHINESS',
    'INSURANCE_CERTIFICATE',
    'VEHICLE_LICENSE',
    'HAULAGE_PERMIT',
    'TEMPERATURE_CONTROL_CERTIFICATION',
    'HAZARDOUS_MATERIAL_CERTIFICATION'
);


ALTER TYPE public."VehicleDocumentType" OWNER TO industrial_nexus_user;

--
-- Name: VehicleStatus; Type: TYPE; Schema: public; Owner: industrial_nexus_user
--

CREATE TYPE public."VehicleStatus" AS ENUM (
    'ACTIVE',
    'INACTIVE',
    'MAINTENANCE'
);


ALTER TYPE public."VehicleStatus" OWNER TO industrial_nexus_user;

--
-- Name: WeightStatus; Type: TYPE; Schema: public; Owner: industrial_nexus_user
--

CREATE TYPE public."WeightStatus" AS ENUM (
    'SAFE',
    'WARNING',
    'NEAR_CAPACITY',
    'OVERLOADED'
);


ALTER TYPE public."WeightStatus" OWNER TO industrial_nexus_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: industrial_nexus_user
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO industrial_nexus_user;

--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: industrial_nexus_user
--

CREATE TABLE public.audit_logs (
    id text NOT NULL,
    user_id text,
    action public."AuditAction" NOT NULL,
    entity_type text NOT NULL,
    entity_id text,
    old_value jsonb,
    new_value jsonb,
    ip_address text,
    user_agent text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.audit_logs OWNER TO industrial_nexus_user;

--
-- Name: available_handling_tags; Type: TABLE; Schema: public; Owner: industrial_nexus_user
--

CREATE TABLE public.available_handling_tags (
    id text NOT NULL,
    name text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.available_handling_tags OWNER TO industrial_nexus_user;

--
-- Name: driver_assignments; Type: TABLE; Schema: public; Owner: industrial_nexus_user
--

CREATE TABLE public.driver_assignments (
    id text NOT NULL,
    trip_id text NOT NULL,
    driver_id text NOT NULL,
    vehicle_id text NOT NULL,
    assigned_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    assigned_by text NOT NULL,
    unassigned_at timestamp(3) without time zone,
    reason text,
    error_type public."DispatchErrorType",
    is_dispatch_error boolean DEFAULT false NOT NULL
);


ALTER TABLE public.driver_assignments OWNER TO industrial_nexus_user;

--
-- Name: drivers; Type: TABLE; Schema: public; Owner: industrial_nexus_user
--

CREATE TABLE public.drivers (
    id text NOT NULL,
    user_id text NOT NULL,
    license_number text NOT NULL,
    kyc_status public."KycStatus" DEFAULT 'PENDING'::public."KycStatus" NOT NULL,
    status public."DriverStatus" DEFAULT 'ACTIVE'::public."DriverStatus" NOT NULL,
    availability public."DriverAvailability" DEFAULT 'AVAILABLE'::public."DriverAvailability" NOT NULL,
    vehicle_id text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.drivers OWNER TO industrial_nexus_user;

--
-- Name: geofence_events; Type: TABLE; Schema: public; Owner: industrial_nexus_user
--

CREATE TABLE public.geofence_events (
    id text NOT NULL,
    trip_id text NOT NULL,
    geofence_id text NOT NULL,
    event_type public."GeofenceEventType" NOT NULL,
    lat double precision NOT NULL,
    lng double precision NOT NULL,
    triggered_at timestamp(3) without time zone NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.geofence_events OWNER TO industrial_nexus_user;

--
-- Name: geofences; Type: TABLE; Schema: public; Owner: industrial_nexus_user
--

CREATE TABLE public.geofences (
    id text NOT NULL,
    name text NOT NULL,
    type public."GeofenceType" NOT NULL,
    center_lat double precision,
    center_lng double precision,
    radius_a double precision,
    radius_b double precision,
    radius_c double precision,
    radius_d double precision,
    polygon jsonb,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.geofences OWNER TO industrial_nexus_user;

--
-- Name: invoices; Type: TABLE; Schema: public; Owner: industrial_nexus_user
--

CREATE TABLE public.invoices (
    id text NOT NULL,
    invoice_number text NOT NULL,
    order_id text NOT NULL,
    rate_card_id text NOT NULL,
    distance_km double precision NOT NULL,
    base_freight_charge double precision NOT NULL,
    weight_charge double precision NOT NULL,
    handling_surcharges jsonb NOT NULL,
    priority_multiplier double precision NOT NULL,
    subtotal double precision NOT NULL,
    insurance_premium double precision NOT NULL,
    vat_amount double precision NOT NULL,
    total_amount double precision NOT NULL,
    status public."InvoiceStatus" DEFAULT 'DRAFT'::public."InvoiceStatus" NOT NULL,
    issued_at timestamp(3) without time zone,
    paid_at timestamp(3) without time zone,
    due_date timestamp(3) without time zone,
    notes text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.invoices OWNER TO industrial_nexus_user;

--
-- Name: kitting_logs; Type: TABLE; Schema: public; Owner: industrial_nexus_user
--

CREATE TABLE public.kitting_logs (
    id text NOT NULL,
    order_id text NOT NULL,
    stage public."KittingStage" NOT NULL,
    operator_id text NOT NULL,
    barcode_verified boolean DEFAULT false NOT NULL,
    notes text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.kitting_logs OWNER TO industrial_nexus_user;

--
-- Name: kyc_documents; Type: TABLE; Schema: public; Owner: industrial_nexus_user
--

CREATE TABLE public.kyc_documents (
    id text NOT NULL,
    driver_id text NOT NULL,
    document_type public."KycDocumentType" NOT NULL,
    file_url text NOT NULL,
    file_name text NOT NULL,
    file_size integer NOT NULL,
    mime_type text NOT NULL,
    status public."KycDocumentStatus" DEFAULT 'PENDING'::public."KycDocumentStatus" NOT NULL,
    submitted_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    reviewed_at timestamp(3) without time zone,
    reviewed_by text,
    rejection_reason text,
    expires_at timestamp(3) without time zone,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.kyc_documents OWNER TO industrial_nexus_user;

--
-- Name: notifications; Type: TABLE; Schema: public; Owner: industrial_nexus_user
--

CREATE TABLE public.notifications (
    id text NOT NULL,
    user_id text NOT NULL,
    type public."NotificationType" NOT NULL,
    title text NOT NULL,
    message text NOT NULL,
    entity_id text,
    entity_type text,
    is_read boolean DEFAULT false NOT NULL,
    read_at timestamp(3) without time zone,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.notifications OWNER TO industrial_nexus_user;

--
-- Name: order_handling_tags; Type: TABLE; Schema: public; Owner: industrial_nexus_user
--

CREATE TABLE public.order_handling_tags (
    id text NOT NULL,
    order_id text NOT NULL,
    tag_id text NOT NULL
);


ALTER TABLE public.order_handling_tags OWNER TO industrial_nexus_user;

--
-- Name: orders; Type: TABLE; Schema: public; Owner: industrial_nexus_user
--

CREATE TABLE public.orders (
    id text NOT NULL,
    order_number text NOT NULL,
    client_id text NOT NULL,
    status public."OrderStatus" DEFAULT 'DRAFT'::public."OrderStatus" NOT NULL,
    total_weight double precision NOT NULL,
    priority public."Priority" DEFAULT 'NORMAL'::public."Priority" NOT NULL,
    pickup_location jsonb NOT NULL,
    delivery_location jsonb NOT NULL,
    cargo_description text,
    delivery_instructions text,
    kitting_status public."KittingStatus" DEFAULT 'PENDING'::public."KittingStatus" NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    submitted_at timestamp(3) without time zone,
    approved_at timestamp(3) without time zone,
    cancelled_at timestamp(3) without time zone,
    package_tracker_id text,
    declared_cargo_value double precision,
    requester_name text,
    requester_phone text
);


ALTER TABLE public.orders OWNER TO industrial_nexus_user;

--
-- Name: package_trackers; Type: TABLE; Schema: public; Owner: industrial_nexus_user
--

CREATE TABLE public.package_trackers (
    id text NOT NULL,
    device_id text NOT NULL,
    name text,
    status public."PackageTrackerStatus" DEFAULT 'ACTIVE'::public."PackageTrackerStatus" NOT NULL,
    battery_level double precision,
    last_lat double precision,
    last_lng double precision,
    last_seen_at timestamp(3) without time zone,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.package_trackers OWNER TO industrial_nexus_user;

--
-- Name: package_tracking_points; Type: TABLE; Schema: public; Owner: industrial_nexus_user
--

CREATE TABLE public.package_tracking_points (
    id text NOT NULL,
    package_tracker_id text NOT NULL,
    lat double precision NOT NULL,
    lng double precision NOT NULL,
    accuracy double precision,
    speed double precision,
    heading double precision,
    "timestamp" timestamp(3) without time zone NOT NULL,
    received_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.package_tracking_points OWNER TO industrial_nexus_user;

--
-- Name: password_reset_tokens; Type: TABLE; Schema: public; Owner: industrial_nexus_user
--

CREATE TABLE public.password_reset_tokens (
    id text NOT NULL,
    token text NOT NULL,
    user_id text NOT NULL,
    expires_at timestamp(3) without time zone NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    used_at timestamp(3) without time zone
);


ALTER TABLE public.password_reset_tokens OWNER TO industrial_nexus_user;

--
-- Name: pods; Type: TABLE; Schema: public; Owner: industrial_nexus_user
--

CREATE TABLE public.pods (
    id text NOT NULL,
    trip_id text NOT NULL,
    image_url text NOT NULL,
    signature_url text,
    receiver_name text,
    receiver_phone text,
    notes text,
    captured_at timestamp(3) without time zone NOT NULL,
    lat double precision,
    lng double precision,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    damage_description text,
    damage_reported boolean DEFAULT false NOT NULL
);


ALTER TABLE public.pods OWNER TO industrial_nexus_user;

--
-- Name: rate_cards; Type: TABLE; Schema: public; Owner: industrial_nexus_user
--

CREATE TABLE public.rate_cards (
    id text NOT NULL,
    name text NOT NULL,
    is_active boolean DEFAULT false NOT NULL,
    base_rate_per_km double precision NOT NULL,
    base_rate_per_kg double precision NOT NULL,
    minimum_charge double precision NOT NULL,
    priority_multipliers jsonb NOT NULL,
    heavy_surcharge double precision DEFAULT 0.15 NOT NULL,
    fragile_surcharge double precision DEFAULT 0.10 NOT NULL,
    hazardous_surcharge double precision DEFAULT 0.25 NOT NULL,
    chemical_surcharge double precision DEFAULT 0.20 NOT NULL,
    temperature_sensitive_surcharge double precision DEFAULT 0.12 NOT NULL,
    vertical_storage_surcharge double precision DEFAULT 0.08 NOT NULL,
    insurance_rate_percent double precision DEFAULT 0.02 NOT NULL,
    vat_percent double precision DEFAULT 0.075 NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    created_by_id text NOT NULL
);


ALTER TABLE public.rate_cards OWNER TO industrial_nexus_user;

--
-- Name: refresh_tokens; Type: TABLE; Schema: public; Owner: industrial_nexus_user
--

CREATE TABLE public.refresh_tokens (
    id text NOT NULL,
    token text NOT NULL,
    user_id text NOT NULL,
    expires_at timestamp(3) without time zone NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    revoked_at timestamp(3) without time zone
);


ALTER TABLE public.refresh_tokens OWNER TO industrial_nexus_user;

--
-- Name: sessions; Type: TABLE; Schema: public; Owner: industrial_nexus_user
--

CREATE TABLE public.sessions (
    id text NOT NULL,
    user_id text NOT NULL,
    token text NOT NULL,
    ip_address text,
    user_agent text,
    is_active boolean DEFAULT true NOT NULL,
    last_activity_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    expires_at timestamp(3) without time zone NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    revoked_at timestamp(3) without time zone
);


ALTER TABLE public.sessions OWNER TO industrial_nexus_user;

--
-- Name: tracking_points; Type: TABLE; Schema: public; Owner: industrial_nexus_user
--

CREATE TABLE public.tracking_points (
    id text NOT NULL,
    trip_id text NOT NULL,
    lat double precision NOT NULL,
    lng double precision NOT NULL,
    accuracy double precision,
    speed double precision,
    heading double precision,
    "timestamp" timestamp(3) without time zone NOT NULL,
    received_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.tracking_points OWNER TO industrial_nexus_user;

--
-- Name: trips; Type: TABLE; Schema: public; Owner: industrial_nexus_user
--

CREATE TABLE public.trips (
    id text NOT NULL,
    order_id text NOT NULL,
    driver_id text NOT NULL,
    vehicle_id text,
    status public."TripStatus" DEFAULT 'ASSIGNED'::public."TripStatus" NOT NULL,
    started_at timestamp(3) without time zone,
    completed_at timestamp(3) without time zone,
    eta timestamp(3) without time zone,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.trips OWNER TO industrial_nexus_user;

--
-- Name: users; Type: TABLE; Schema: public; Owner: industrial_nexus_user
--

CREATE TABLE public.users (
    id text NOT NULL,
    email text NOT NULL,
    password_hash text NOT NULL,
    first_name text NOT NULL,
    last_name text NOT NULL,
    phone_number text,
    role public."UserRole" DEFAULT 'CLIENT'::public."UserRole" NOT NULL,
    status public."UserStatus" DEFAULT 'ACTIVE'::public."UserStatus" NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    last_login_at timestamp(3) without time zone,
    profile_image_url text
);


ALTER TABLE public.users OWNER TO industrial_nexus_user;

--
-- Name: vehicle_documents; Type: TABLE; Schema: public; Owner: industrial_nexus_user
--

CREATE TABLE public.vehicle_documents (
    id text NOT NULL,
    vehicle_id text NOT NULL,
    document_type public."VehicleDocumentType" NOT NULL,
    file_url text NOT NULL,
    file_name text NOT NULL,
    file_size integer NOT NULL,
    mime_type text NOT NULL,
    status public."VehicleDocumentStatus" DEFAULT 'PENDING'::public."VehicleDocumentStatus" NOT NULL,
    submitted_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    reviewed_at timestamp(3) without time zone,
    reviewed_by text,
    rejection_reason text,
    expires_at timestamp(3) without time zone,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.vehicle_documents OWNER TO industrial_nexus_user;

--
-- Name: vehicles; Type: TABLE; Schema: public; Owner: industrial_nexus_user
--

CREATE TABLE public.vehicles (
    id text NOT NULL,
    plate_number text NOT NULL,
    category public."VehicleCategory" NOT NULL,
    capacity_kg double precision NOT NULL,
    status public."VehicleStatus" DEFAULT 'ACTIVE'::public."VehicleStatus" NOT NULL,
    is_partitioned boolean DEFAULT false NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.vehicles OWNER TO industrial_nexus_user;

--
-- Name: weight_records; Type: TABLE; Schema: public; Owner: industrial_nexus_user
--

CREATE TABLE public.weight_records (
    id text NOT NULL,
    trip_id text,
    order_id text,
    cargo_weight double precision NOT NULL,
    vehicle_capacity double precision,
    utilization double precision NOT NULL,
    status public."WeightStatus" DEFAULT 'SAFE'::public."WeightStatus" NOT NULL,
    checked_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.weight_records OWNER TO industrial_nexus_user;

--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: industrial_nexus_user
--



--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: industrial_nexus_user
--



--
-- Data for Name: available_handling_tags; Type: TABLE DATA; Schema: public; Owner: industrial_nexus_user
--



--
-- Data for Name: driver_assignments; Type: TABLE DATA; Schema: public; Owner: industrial_nexus_user
--

COPY public.driver_assignments (id, trip_id, driver_id, vehicle_id, assigned_at, assigned_by, unassigned_at, reason, error_type, is_dispatch_error) FROM stdin;
\.


--
-- Data for Name: drivers; Type: TABLE DATA; Schema: public; Owner: industrial_nexus_user
--



--
-- Data for Name: geofence_events; Type: TABLE DATA; Schema: public; Owner: industrial_nexus_user
--



--
-- Data for Name: geofences; Type: TABLE DATA; Schema: public; Owner: industrial_nexus_user
--

COPY public.geofences (id, name, type, center_lat, center_lng, radius_a, radius_b, radius_c, radius_d, polygon, is_active, created_at) FROM stdin;
881b3c8c-efff-5b3e-a980-0b2b23f3051d	Lagos Mainland Zone	RADIUS	6.5244	3.3792	5000	10000	15000	20000	\N	t	2026-07-01 22:32:02.759
f2e1e246-7122-5767-845d-9578d5600a4e	Apapa Port Zone	RADIUS	6.4498	3.37	2000	4000	6000	8000	\N	t	2026-07-01 22:32:02.762
e7788332-8119-52af-ba97-faab715f5186	Victoria Island Zone	RADIUS	6.6018	3.3515	3000	6000	9000	12000	\N	t	2026-07-01 22:32:02.764
\.


--
-- Data for Name: invoices; Type: TABLE DATA; Schema: public; Owner: industrial_nexus_user
--



--
-- Data for Name: kitting_logs; Type: TABLE DATA; Schema: public; Owner: industrial_nexus_user
--



--
-- Data for Name: kyc_documents; Type: TABLE DATA; Schema: public; Owner: industrial_nexus_user
--



--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: industrial_nexus_user
--



--
-- Data for Name: order_handling_tags; Type: TABLE DATA; Schema: public; Owner: industrial_nexus_user
--



--
-- Data for Name: orders; Type: TABLE DATA; Schema: public; Owner: industrial_nexus_user
--



--
-- Data for Name: package_trackers; Type: TABLE DATA; Schema: public; Owner: industrial_nexus_user
--



--
-- Data for Name: package_tracking_points; Type: TABLE DATA; Schema: public; Owner: industrial_nexus_user
--

COPY public.package_tracking_points (id, package_tracker_id, lat, lng, accuracy, speed, heading, "timestamp", received_at) FROM stdin;
\.


--
-- Data for Name: password_reset_tokens; Type: TABLE DATA; Schema: public; Owner: industrial_nexus_user
--

COPY public.password_reset_tokens (id, token, user_id, expires_at, created_at, used_at) FROM stdin;
\.


--
-- Data for Name: pods; Type: TABLE DATA; Schema: public; Owner: industrial_nexus_user
--



--
-- Data for Name: rate_cards; Type: TABLE DATA; Schema: public; Owner: industrial_nexus_user
--

COPY public.rate_cards (id, name, is_active, base_rate_per_km, base_rate_per_kg, minimum_charge, priority_multipliers, heavy_surcharge, fragile_surcharge, hazardous_surcharge, chemical_surcharge, temperature_sensitive_surcharge, vertical_storage_surcharge, insurance_rate_percent, vat_percent, created_at, updated_at, created_by_id) FROM stdin;
7a30fcea-4c8a-4ea4-8ffd-48279ac0eeb6	DBS LTD	t	20000	15000	15000	{"LOW": 1, "HIGH": 1, "NORMAL": 1, "URGENT": 2}	0.01	0.01	0.01	0.01	0.01	0.01	0.01	0.07000011	2026-07-06 13:43:28.153	2026-07-06 13:55:04.037	62e5052a-2f72-5bf7-b5d6-e42fbfb22061
\.


--
-- Data for Name: refresh_tokens; Type: TABLE DATA; Schema: public; Owner: industrial_nexus_user
--



--
-- Data for Name: sessions; Type: TABLE DATA; Schema: public; Owner: industrial_nexus_user
--



--
-- Data for Name: tracking_points; Type: TABLE DATA; Schema: public; Owner: industrial_nexus_user
--



--
-- Data for Name: trips; Type: TABLE DATA; Schema: public; Owner: industrial_nexus_user
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: industrial_nexus_user
--



--
-- Data for Name: vehicle_documents; Type: TABLE DATA; Schema: public; Owner: industrial_nexus_user
--

COPY public.vehicle_documents (id, vehicle_id, document_type, file_url, file_name, file_size, mime_type, status, submitted_at, reviewed_at, reviewed_by, rejection_reason, expires_at, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: vehicles; Type: TABLE DATA; Schema: public; Owner: industrial_nexus_user
--



--
-- Data for Name: weight_records; Type: TABLE DATA; Schema: public; Owner: industrial_nexus_user
--



--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: industrial_nexus_user
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: industrial_nexus_user
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: available_handling_tags available_handling_tags_pkey; Type: CONSTRAINT; Schema: public; Owner: industrial_nexus_user
--

ALTER TABLE ONLY public.available_handling_tags
    ADD CONSTRAINT available_handling_tags_pkey PRIMARY KEY (id);


--
-- Name: driver_assignments driver_assignments_pkey; Type: CONSTRAINT; Schema: public; Owner: industrial_nexus_user
--

ALTER TABLE ONLY public.driver_assignments
    ADD CONSTRAINT driver_assignments_pkey PRIMARY KEY (id);


--
-- Name: drivers drivers_pkey; Type: CONSTRAINT; Schema: public; Owner: industrial_nexus_user
--

ALTER TABLE ONLY public.drivers
    ADD CONSTRAINT drivers_pkey PRIMARY KEY (id);


--
-- Name: geofence_events geofence_events_pkey; Type: CONSTRAINT; Schema: public; Owner: industrial_nexus_user
--

ALTER TABLE ONLY public.geofence_events
    ADD CONSTRAINT geofence_events_pkey PRIMARY KEY (id);


--
-- Name: geofences geofences_pkey; Type: CONSTRAINT; Schema: public; Owner: industrial_nexus_user
--

ALTER TABLE ONLY public.geofences
    ADD CONSTRAINT geofences_pkey PRIMARY KEY (id);


--
-- Name: invoices invoices_pkey; Type: CONSTRAINT; Schema: public; Owner: industrial_nexus_user
--

ALTER TABLE ONLY public.invoices
    ADD CONSTRAINT invoices_pkey PRIMARY KEY (id);


--
-- Name: kitting_logs kitting_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: industrial_nexus_user
--

ALTER TABLE ONLY public.kitting_logs
    ADD CONSTRAINT kitting_logs_pkey PRIMARY KEY (id);


--
-- Name: kyc_documents kyc_documents_pkey; Type: CONSTRAINT; Schema: public; Owner: industrial_nexus_user
--

ALTER TABLE ONLY public.kyc_documents
    ADD CONSTRAINT kyc_documents_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: industrial_nexus_user
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: order_handling_tags order_handling_tags_order_id_tag_id_key; Type: CONSTRAINT; Schema: public; Owner: industrial_nexus_user
--

ALTER TABLE ONLY public.order_handling_tags
    ADD CONSTRAINT order_handling_tags_order_id_tag_id_key UNIQUE (order_id, tag_id);


--
-- Name: order_handling_tags order_handling_tags_pkey; Type: CONSTRAINT; Schema: public; Owner: industrial_nexus_user
--

ALTER TABLE ONLY public.order_handling_tags
    ADD CONSTRAINT order_handling_tags_pkey PRIMARY KEY (id);


--
-- Name: orders orders_pkey; Type: CONSTRAINT; Schema: public; Owner: industrial_nexus_user
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_pkey PRIMARY KEY (id);


--
-- Name: package_trackers package_trackers_pkey; Type: CONSTRAINT; Schema: public; Owner: industrial_nexus_user
--

ALTER TABLE ONLY public.package_trackers
    ADD CONSTRAINT package_trackers_pkey PRIMARY KEY (id);


--
-- Name: package_tracking_points package_tracking_points_pkey; Type: CONSTRAINT; Schema: public; Owner: industrial_nexus_user
--

ALTER TABLE ONLY public.package_tracking_points
    ADD CONSTRAINT package_tracking_points_pkey PRIMARY KEY (id);


--
-- Name: password_reset_tokens password_reset_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: industrial_nexus_user
--

ALTER TABLE ONLY public.password_reset_tokens
    ADD CONSTRAINT password_reset_tokens_pkey PRIMARY KEY (id);


--
-- Name: pods pods_pkey; Type: CONSTRAINT; Schema: public; Owner: industrial_nexus_user
--

ALTER TABLE ONLY public.pods
    ADD CONSTRAINT pods_pkey PRIMARY KEY (id);


--
-- Name: rate_cards rate_cards_pkey; Type: CONSTRAINT; Schema: public; Owner: industrial_nexus_user
--

ALTER TABLE ONLY public.rate_cards
    ADD CONSTRAINT rate_cards_pkey PRIMARY KEY (id);


--
-- Name: refresh_tokens refresh_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: industrial_nexus_user
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_pkey PRIMARY KEY (id);


--
-- Name: sessions sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: industrial_nexus_user
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_pkey PRIMARY KEY (id);


--
-- Name: tracking_points tracking_points_pkey; Type: CONSTRAINT; Schema: public; Owner: industrial_nexus_user
--

ALTER TABLE ONLY public.tracking_points
    ADD CONSTRAINT tracking_points_pkey PRIMARY KEY (id);


--
-- Name: trips trips_pkey; Type: CONSTRAINT; Schema: public; Owner: industrial_nexus_user
--

ALTER TABLE ONLY public.trips
    ADD CONSTRAINT trips_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: industrial_nexus_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: vehicle_documents vehicle_documents_pkey; Type: CONSTRAINT; Schema: public; Owner: industrial_nexus_user
--

ALTER TABLE ONLY public.vehicle_documents
    ADD CONSTRAINT vehicle_documents_pkey PRIMARY KEY (id);


--
-- Name: vehicles vehicles_pkey; Type: CONSTRAINT; Schema: public; Owner: industrial_nexus_user
--

ALTER TABLE ONLY public.vehicles
    ADD CONSTRAINT vehicles_pkey PRIMARY KEY (id);


--
-- Name: weight_records weight_records_pkey; Type: CONSTRAINT; Schema: public; Owner: industrial_nexus_user
--

ALTER TABLE ONLY public.weight_records
    ADD CONSTRAINT weight_records_pkey PRIMARY KEY (id);


--
-- Name: audit_logs_action_idx; Type: INDEX; Schema: public; Owner: industrial_nexus_user
--

CREATE INDEX audit_logs_action_idx ON public.audit_logs USING btree (action);


--
-- Name: audit_logs_created_at_idx; Type: INDEX; Schema: public; Owner: industrial_nexus_user
--

CREATE INDEX audit_logs_created_at_idx ON public.audit_logs USING btree (created_at);


--
-- Name: audit_logs_user_id_idx; Type: INDEX; Schema: public; Owner: industrial_nexus_user
--

CREATE INDEX audit_logs_user_id_idx ON public.audit_logs USING btree (user_id);


--
-- Name: available_handling_tags_name_key; Type: INDEX; Schema: public; Owner: industrial_nexus_user
--

CREATE UNIQUE INDEX available_handling_tags_name_key ON public.available_handling_tags USING btree (name);


--
-- Name: drivers_user_id_key; Type: INDEX; Schema: public; Owner: industrial_nexus_user
--

CREATE UNIQUE INDEX drivers_user_id_key ON public.drivers USING btree (user_id);


--
-- Name: geofence_events_geofence_id_idx; Type: INDEX; Schema: public; Owner: industrial_nexus_user
--

CREATE INDEX geofence_events_geofence_id_idx ON public.geofence_events USING btree (geofence_id);


--
-- Name: geofence_events_trip_id_geofence_id_event_type_triggered_at_key; Type: INDEX; Schema: public; Owner: industrial_nexus_user
--

CREATE UNIQUE INDEX geofence_events_trip_id_geofence_id_event_type_triggered_at_key ON public.geofence_events USING btree (trip_id, geofence_id, event_type, triggered_at);


--
-- Name: geofence_events_trip_id_idx; Type: INDEX; Schema: public; Owner: industrial_nexus_user
--

CREATE INDEX geofence_events_trip_id_idx ON public.geofence_events USING btree (trip_id);


--
-- Name: invoices_invoice_number_key; Type: INDEX; Schema: public; Owner: industrial_nexus_user
--

CREATE UNIQUE INDEX invoices_invoice_number_key ON public.invoices USING btree (invoice_number);


--
-- Name: invoices_order_id_key; Type: INDEX; Schema: public; Owner: industrial_nexus_user
--

CREATE UNIQUE INDEX invoices_order_id_key ON public.invoices USING btree (order_id);


--
-- Name: kyc_documents_document_type_idx; Type: INDEX; Schema: public; Owner: industrial_nexus_user
--

CREATE INDEX kyc_documents_document_type_idx ON public.kyc_documents USING btree (document_type);


--
-- Name: kyc_documents_driver_id_idx; Type: INDEX; Schema: public; Owner: industrial_nexus_user
--

CREATE INDEX kyc_documents_driver_id_idx ON public.kyc_documents USING btree (driver_id);


--
-- Name: kyc_documents_status_idx; Type: INDEX; Schema: public; Owner: industrial_nexus_user
--

CREATE INDEX kyc_documents_status_idx ON public.kyc_documents USING btree (status);


--
-- Name: notifications_created_at_idx; Type: INDEX; Schema: public; Owner: industrial_nexus_user
--

CREATE INDEX notifications_created_at_idx ON public.notifications USING btree (created_at);


--
-- Name: notifications_is_read_idx; Type: INDEX; Schema: public; Owner: industrial_nexus_user
--

CREATE INDEX notifications_is_read_idx ON public.notifications USING btree (is_read);


--
-- Name: notifications_user_id_idx; Type: INDEX; Schema: public; Owner: industrial_nexus_user
--

CREATE INDEX notifications_user_id_idx ON public.notifications USING btree (user_id);


--
-- Name: orders_order_number_key; Type: INDEX; Schema: public; Owner: industrial_nexus_user
--

CREATE UNIQUE INDEX orders_order_number_key ON public.orders USING btree (order_number);


--
-- Name: package_trackers_device_id_key; Type: INDEX; Schema: public; Owner: industrial_nexus_user
--

CREATE UNIQUE INDEX package_trackers_device_id_key ON public.package_trackers USING btree (device_id);


--
-- Name: package_tracking_points_package_tracker_id_idx; Type: INDEX; Schema: public; Owner: industrial_nexus_user
--

CREATE INDEX package_tracking_points_package_tracker_id_idx ON public.package_tracking_points USING btree (package_tracker_id);


--
-- Name: package_tracking_points_timestamp_idx; Type: INDEX; Schema: public; Owner: industrial_nexus_user
--

CREATE INDEX package_tracking_points_timestamp_idx ON public.package_tracking_points USING btree ("timestamp");


--
-- Name: password_reset_tokens_token_key; Type: INDEX; Schema: public; Owner: industrial_nexus_user
--

CREATE UNIQUE INDEX password_reset_tokens_token_key ON public.password_reset_tokens USING btree (token);


--
-- Name: pods_trip_id_key; Type: INDEX; Schema: public; Owner: industrial_nexus_user
--

CREATE UNIQUE INDEX pods_trip_id_key ON public.pods USING btree (trip_id);


--
-- Name: rate_cards_name_key; Type: INDEX; Schema: public; Owner: industrial_nexus_user
--

CREATE UNIQUE INDEX rate_cards_name_key ON public.rate_cards USING btree (name);


--
-- Name: refresh_tokens_token_key; Type: INDEX; Schema: public; Owner: industrial_nexus_user
--

CREATE UNIQUE INDEX refresh_tokens_token_key ON public.refresh_tokens USING btree (token);


--
-- Name: sessions_token_key; Type: INDEX; Schema: public; Owner: industrial_nexus_user
--

CREATE UNIQUE INDEX sessions_token_key ON public.sessions USING btree (token);


--
-- Name: tracking_points_timestamp_idx; Type: INDEX; Schema: public; Owner: industrial_nexus_user
--

CREATE INDEX tracking_points_timestamp_idx ON public.tracking_points USING btree ("timestamp");


--
-- Name: tracking_points_trip_id_idx; Type: INDEX; Schema: public; Owner: industrial_nexus_user
--

CREATE INDEX tracking_points_trip_id_idx ON public.tracking_points USING btree (trip_id);


--
-- Name: trips_order_id_key; Type: INDEX; Schema: public; Owner: industrial_nexus_user
--

CREATE UNIQUE INDEX trips_order_id_key ON public.trips USING btree (order_id);


--
-- Name: users_email_key; Type: INDEX; Schema: public; Owner: industrial_nexus_user
--

CREATE UNIQUE INDEX users_email_key ON public.users USING btree (email);


--
-- Name: vehicle_documents_document_type_idx; Type: INDEX; Schema: public; Owner: industrial_nexus_user
--

CREATE INDEX vehicle_documents_document_type_idx ON public.vehicle_documents USING btree (document_type);


--
-- Name: vehicle_documents_status_idx; Type: INDEX; Schema: public; Owner: industrial_nexus_user
--

CREATE INDEX vehicle_documents_status_idx ON public.vehicle_documents USING btree (status);


--
-- Name: vehicle_documents_vehicle_id_idx; Type: INDEX; Schema: public; Owner: industrial_nexus_user
--

CREATE INDEX vehicle_documents_vehicle_id_idx ON public.vehicle_documents USING btree (vehicle_id);


--
-- Name: vehicles_plate_number_key; Type: INDEX; Schema: public; Owner: industrial_nexus_user
--

CREATE UNIQUE INDEX vehicles_plate_number_key ON public.vehicles USING btree (plate_number);


--
-- Name: weight_records_order_id_key; Type: INDEX; Schema: public; Owner: industrial_nexus_user
--

CREATE UNIQUE INDEX weight_records_order_id_key ON public.weight_records USING btree (order_id);


--
-- Name: audit_logs audit_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: industrial_nexus_user
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: driver_assignments driver_assignments_trip_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: industrial_nexus_user
--

ALTER TABLE ONLY public.driver_assignments
    ADD CONSTRAINT driver_assignments_trip_id_fkey FOREIGN KEY (trip_id) REFERENCES public.trips(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: drivers drivers_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: industrial_nexus_user
--

ALTER TABLE ONLY public.drivers
    ADD CONSTRAINT drivers_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: drivers drivers_vehicle_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: industrial_nexus_user
--

ALTER TABLE ONLY public.drivers
    ADD CONSTRAINT drivers_vehicle_id_fkey FOREIGN KEY (vehicle_id) REFERENCES public.vehicles(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: geofence_events geofence_events_geofence_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: industrial_nexus_user
--

ALTER TABLE ONLY public.geofence_events
    ADD CONSTRAINT geofence_events_geofence_id_fkey FOREIGN KEY (geofence_id) REFERENCES public.geofences(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: geofence_events geofence_events_trip_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: industrial_nexus_user
--

ALTER TABLE ONLY public.geofence_events
    ADD CONSTRAINT geofence_events_trip_id_fkey FOREIGN KEY (trip_id) REFERENCES public.trips(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: invoices invoices_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: industrial_nexus_user
--

ALTER TABLE ONLY public.invoices
    ADD CONSTRAINT invoices_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: invoices invoices_rate_card_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: industrial_nexus_user
--

ALTER TABLE ONLY public.invoices
    ADD CONSTRAINT invoices_rate_card_id_fkey FOREIGN KEY (rate_card_id) REFERENCES public.rate_cards(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: kitting_logs kitting_logs_operator_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: industrial_nexus_user
--

ALTER TABLE ONLY public.kitting_logs
    ADD CONSTRAINT kitting_logs_operator_id_fkey FOREIGN KEY (operator_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: kitting_logs kitting_logs_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: industrial_nexus_user
--

ALTER TABLE ONLY public.kitting_logs
    ADD CONSTRAINT kitting_logs_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: kyc_documents kyc_documents_driver_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: industrial_nexus_user
--

ALTER TABLE ONLY public.kyc_documents
    ADD CONSTRAINT kyc_documents_driver_id_fkey FOREIGN KEY (driver_id) REFERENCES public.drivers(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: order_handling_tags order_handling_tags_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: industrial_nexus_user
--

ALTER TABLE ONLY public.order_handling_tags
    ADD CONSTRAINT order_handling_tags_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: order_handling_tags order_handling_tags_tag_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: industrial_nexus_user
--

ALTER TABLE ONLY public.order_handling_tags
    ADD CONSTRAINT order_handling_tags_tag_id_fkey FOREIGN KEY (tag_id) REFERENCES public.available_handling_tags(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: orders orders_client_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: industrial_nexus_user
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_client_id_fkey FOREIGN KEY (client_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: orders orders_package_tracker_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: industrial_nexus_user
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_package_tracker_id_fkey FOREIGN KEY (package_tracker_id) REFERENCES public.package_trackers(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: package_tracking_points package_tracking_points_package_tracker_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: industrial_nexus_user
--

ALTER TABLE ONLY public.package_tracking_points
    ADD CONSTRAINT package_tracking_points_package_tracker_id_fkey FOREIGN KEY (package_tracker_id) REFERENCES public.package_trackers(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: password_reset_tokens password_reset_tokens_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: industrial_nexus_user
--

ALTER TABLE ONLY public.password_reset_tokens
    ADD CONSTRAINT password_reset_tokens_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: pods pods_trip_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: industrial_nexus_user
--

ALTER TABLE ONLY public.pods
    ADD CONSTRAINT pods_trip_id_fkey FOREIGN KEY (trip_id) REFERENCES public.trips(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: rate_cards rate_cards_created_by_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: industrial_nexus_user
--

ALTER TABLE ONLY public.rate_cards
    ADD CONSTRAINT rate_cards_created_by_id_fkey FOREIGN KEY (created_by_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: refresh_tokens refresh_tokens_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: industrial_nexus_user
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: sessions sessions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: industrial_nexus_user
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: tracking_points tracking_points_trip_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: industrial_nexus_user
--

ALTER TABLE ONLY public.tracking_points
    ADD CONSTRAINT tracking_points_trip_id_fkey FOREIGN KEY (trip_id) REFERENCES public.trips(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: trips trips_driver_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: industrial_nexus_user
--

ALTER TABLE ONLY public.trips
    ADD CONSTRAINT trips_driver_id_fkey FOREIGN KEY (driver_id) REFERENCES public.drivers(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: trips trips_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: industrial_nexus_user
--

ALTER TABLE ONLY public.trips
    ADD CONSTRAINT trips_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: trips trips_vehicle_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: industrial_nexus_user
--

ALTER TABLE ONLY public.trips
    ADD CONSTRAINT trips_vehicle_id_fkey FOREIGN KEY (vehicle_id) REFERENCES public.vehicles(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: vehicle_documents vehicle_documents_vehicle_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: industrial_nexus_user
--

ALTER TABLE ONLY public.vehicle_documents
    ADD CONSTRAINT vehicle_documents_vehicle_id_fkey FOREIGN KEY (vehicle_id) REFERENCES public.vehicles(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: weight_records weight_records_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: industrial_nexus_user
--

ALTER TABLE ONLY public.weight_records
    ADD CONSTRAINT weight_records_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: weight_records weight_records_trip_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: industrial_nexus_user
--

ALTER TABLE ONLY public.weight_records
    ADD CONSTRAINT weight_records_trip_id_fkey FOREIGN KEY (trip_id) REFERENCES public.trips(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON SEQUENCES TO industrial_nexus_user;


--
-- Name: DEFAULT PRIVILEGES FOR TYPES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON TYPES TO industrial_nexus_user;


--
-- Name: DEFAULT PRIVILEGES FOR FUNCTIONS; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON FUNCTIONS TO industrial_nexus_user;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON TABLES TO industrial_nexus_user;


--
-- PostgreSQL database dump complete
--

\unrestrict FDi05QoekJQTgQsUe6yX56OM4RVpg1Mghd1nERGcTrheQbYGX2ncBZq1WKK2hEr

